.Dashboard{
    flex: 0.8;
    height: 100vh;
    overflow: auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(72,72,222);
    box-sizing: border-box;
    color: beige;
}

.DashboardLeft{
    width: 70%;
    padding: 30px;
    height: 100%;
    height: fit-content;
    box-sizing: border-box;
    background-color: #0a045e;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(12, 9, 152, 0.586);
}

/* .DashboardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.DashboardHeaderTitle{
    font-size: 26px;
    font-weight: 600;
}

.DashboardHeaderLargeTitle{
    font-size: 52px;
}

.alertInfo{
    width: 100%;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 40px 0;
    font-size: 16px;
    background-color: rgb(72,72,222);
}